.product {

	&__fotorama {
		margin-bottom: 4em;

		@media (min-width: $screen-sm) {
			margin-bottom: 0;
		}
	}

	&__title {
		font-size: 2.5rem;
		margin: 0 0 1em 0;
		line-height: 1.4em;

		&:first-line {
			font-weight: 600;
		}
	}

	&__price {
		font-weight: 600;
		font-size: 3.6rem;
		padding-bottom: .5em;
		border-bottom: 1px solid $color-lighter;
		margin: 0;
	}

	&__color-wrap {
		margin: 1.9em -10px 1.9em;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__color {
		width: 3.75em;
		height: 3.75em;
		margin: 10px;
		cursor: pointer;
		outline: 2px solid transparent;
		outline-offset: -2px;
		transition: .3s ease;

		&:not(:active) {

			&:hover,
			&:focus {
				transform: scale(1.1);
			}
		}

		&_active {
			outline: 2px solid darken($color-select, 10%);
			outline-offset: -2px;
		}

		&_1 {
			background-color: #FF4D6A;
		}

		&_2 {
			background-color: #AD272E;
		}

		&_3 {
			background-color: #E33D61;
		}

		&_4 {
			background-color: #EC2332;
		}

		&_5 {
			background-color: #AC145F;
		}

		&_6 {
			background-color: #7B1A61;
		}
	}

	&__select {
		width: 100%;
		color: darken($color-lighter, 50%);

		.select {

			&__current {
				padding: .7em 2.5em .7em 1em;

				&::after {
					border-top-color: darken($color-lighter, 50%);
				}

				&_active {

					&::after {
						border-top-color: white;
					}
				}
			}

			&__item {
				padding: .7em 1em;
			}
		}
	}

	&__button {
		margin: 2.5em 0;

		@media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {
			display: block;
			margin: 2.5em auto;
			width: 300px;
		}
	}

	&__accord {
		margin-bottom: 2.5em;
	}
}