.button {
	display: inline-block;
	color: $color-main;
	height: 3.15em;
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 700;
	background: url('../img/btn-bg.jpg') 50% -65px;
	border: none;
	outline: 1px solid rgba(255, 255, 255, .5);
	outline-offset: -5px;
	transition: .3s ease;
	padding: .9em 3em;
	text-align: center;

	&:hover,
	&:focus {
		outline: 1px solid rgba(255, 255, 255, .5);
		outline-offset: 0;
		color: darken($color-light, 20%);
	}

	&_wide {
		width: 100%;

		&:active {
			transform: scale(.98);
		}
	}
}