.button {
	display: inline-block;
	color: white;
	font-size: 2.5rem;
	background-color: $c-main;
	text-transform: uppercase;
	text-decoration: none;
	border: none;
	transition: .3s ease;
	padding: .45em 1.5em;
	text-align: center;
	border-radius: 5em;
	font-family: $font-second;
	line-height: 1;
	outline: none;

	&:hover,
	&:focus {
		color: white;
		box-shadow: 0 3px 5px rgba(211, 157, 93, .35);
	}

	&:active {
		background-color: darken($c-main, 15%);
	}
}