.adv {
	text-align: center;
	padding: 1.5em 0;

	@media (min-width: $screen-xs) {
		padding: 3em 0;
	}

	&__img {
		width: 100px;
		height: 100px;
		background: no-repeat 50% 50%;
		margin: 0 auto 1em;

		@media (min-width: $screen-xs) {
			margin: 0 auto 3em;
		}

		&_1 {
			@include bgi-retina('../img/advanced-1', 'png', 76px, 91px);
		}

		&_2 {
			@include bgi-retina('../img/advanced-2', 'png', 89px, 91px);
		}

		&_3 {
			@include bgi-retina('../img/advanced-3', 'png', 88px, 91px);
		}

		&_4 {
			@include bgi-retina('../img/advanced-4', 'png', 97px, 91px);
		}
	}

	&__title {
		font-size: 2.2rem;
		color: $color-dark;
		text-transform: uppercase;
		font-weight: 700;
	}
}
