.f-menu {
	list-style-type: none;
	padding: 0;
	margin: 0;
	color: $color-footer;
	display: block;
	text-align: center;

	&::after {
		@extend %clear;
	}

	&__item {
		margin-bottom: 10px;
		margin-right: 20px;
		display: inline-block;
		padding: 0 5px;
		position: relative;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		color: $c-dark;
		display: inline-block;
		text-decoration: none;
		font-weight: 600;
		font-size: 2.2rem;

		&::after {
			color: $c-dark;
			content: '';
			position: absolute;
			width: 100%;
			height: 1em;
			bottom: -5px;
			left: 50%;
			transform: translateX(-50%);
			background-color: $c-main;
			transition: .1s ease;
			opacity: 0;
		}

		&:hover {
			color: $c-dark;

			&::after {
				opacity: .15;
			}
		}
	}
}