.footer {
	flex: 0 0 auto;
	padding: 3em 0 1em;
	color: $c-light-3;

	&__row {
		margin-bottom: 2.5em;
		text-align: center;

		@media (min-width: $screen-sm) {
			text-align: left;
		}
	}

	&__phone {
		text-align: center;
		margin: 15px 0 0;

		@media (min-width: $screen-xs) {
			text-align: right;
			margin: 0;
		}
	}

	&__copyright {
		text-align: left;

		@media (min-width: $screen-sm) {
			text-align: right;
		}
	}

	&__copyright-link {
		color: darken($c-light-3, 30%);
		border-bottom: 1px dashed transparent;
		text-decoration: none;

		&:hover,
		&:focus {
			color: $color-webcenter;
			border-bottom: 1px dashed $color-webcenter;
		}
	}

	&__rights {
		text-align: left;
		color: $c-light-3;
	}

	&__soc-wrap {
		text-align: center;
		margin-bottom: 3em;
	}

	&__soc {
		margin-right: 10px;

		@media (min-width: $screen-xs) {
			margin-right: 15px;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}