.header {
	width: 100%;
	position: fixed;
	font-size: 1.8rem;
	z-index: 50;
	background: linear-gradient(to bottom, white 5%, rgba(255, 255, 255, .8) 50%, transparent 100%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.3em 0 1em;

	&__left {
		margin-left: 15px;

		@media (min-width: $screen-md) {
			margin-left: 2em;
		}

		@media (min-width: $screen-lg) {
			margin-left: 3em;
			width: 460px;
		}
	}

	&__right {
		text-align: right;
		margin-right: 15px;

		@media (min-width: $screen-md) {
			margin-right: 2em;
		}

		@media (min-width: $screen-lg) {
			margin-right: 3em;
			min-width: 460px;
		}
	}

	&__logo {
		display: none;

		@media (min-width: $screen-xs) {
			display: block;
			width: 160px;
			height: 30px;
		}

		@media (min-width: $screen-lg) {
			width: 413px;
			height: 78px;
		}
	}

	&__phone {
		color: $c-dark;
		text-decoration: none;
		display: inline-block;
		font-size: 3rem;
		vertical-align: middle;
		margin-left: 5em;
	}

	&__item {
		color: $c-dark;
		text-decoration: none;
		display: inline-block;
	}

	&__line {
		display: inline-block;
		line-height: 2.5;
		border-left: 1px solid $c-light-3;
		margin: 0 1em;

		&_hidden_xxs {

			@media (max-width: $screen-xs - 1) {
				display: none;
			}
		}
	}
}