.header {
	width: 100%;
	position: fixed;
	font-size: 1.8rem;
	z-index: 50;
	background: linear-gradient(to bottom, white, transparent);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.3em 0 1em;

	&__left {
		width: 360px;
		margin-left: 2em;

		@media (min-width: $screen-lg) {
			margin-left: 3em;
		}
	}

	&__right {
		text-align: right;
		width: 360px;
		margin-right: 2em;

		@media (min-width: $screen-lg) {
			margin-right: 3em;
		}
	}

	&__logo {
		width: 160px;
		height: 30px;

		@media (min-width: $screen-lg) {
			width: 413px;
			height: 78px;
		}
	}

	&__phone {
		color: $c-dark;
		text-decoration: none;
		display: inline-block;
		font-size: 3rem;
		vertical-align: middle;
	}

	&__item {
		color: $c-dark;
		text-decoration: none;
		display: inline-block;

		&_menu {
			vertical-align: middle;
		}
	}

	&__line {
		display: inline-block;
		line-height: 2.5;
		border-left: 1px solid $c-light-3;
		margin: 0 1em;
	}

	&__toggle {
		margin-right: 1em;
	}

	&__toggle-wrap {
		display: inline-block;
		margin-right: 2em;
		vertical-align: middle;
	}
}