.input {
	border: 1px solid $color-light;
	padding: 0 25px;
	height: 3.5em;
	font-size: 1.8rem;
	color: $color-gray;
	outline: 1px solid transparent;
	outline-offset: -2px;

	&:hover,
	&:focus {
		outline: 1px solid $color-light;
		outline-offset: -2px;
	}

	&_wide {
		width: 100%;
	}
}