.item {
	line-height: 1.45em;
	display: block;
	text-decoration: none;
	color: black;
	background-color: white;
	padding: 15px;
	box-shadow: 0 5px 15px rgba(211, 157, 93, .15);
	position: relative;
	transition: .2s ease;
	text-align: center;
	border-radius: 2px;
	
	&:hover,
	&:focus {
		box-shadow: 0 5px 15px rgba(211, 157, 93, .45);
		color: black;

		.item {
			//=====

			&__price {
				opacity: 0;
			}

			&__buy {
				opacity: 1;
			}
		}
	}

	&__img {
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		margin-bottom: 15px;
		background: no-repeat 50% 50%;
		background-size: cover;
		transition: .2s ease;
		display: block;
		text-decoration: none;


		&_1 {
			background-image: url('../img/art-1.jpg');
		}

		&_2 {
			background-image: url('../img/art-2.png');
		}

		&_3 {
			background-image: url('../img/art-3.png');
		}

		&_4 {
			background-image: url('../img/art-4.png');
		}

		&_5 {
			background-image: url('../img/art-5.png');
		}

		&_6 {
			background-image: url('../img/art-6.png');
		}

		&_7 {
			background-image: url('../img/art-7.png');
		}

		&_8 {
			background-image: url('../img/art-8.png');
		}
	}

	&__title {
		margin: 0 0 10px;
		color: $c-main;
		font-family: $font-second;
		text-transform: uppercase;
		font-size: 1.9rem;
		white-space: nowrap;
		text-overflow: ellipsis;
		display: block;
		text-decoration: none;

		@media (min-width: $screen-xs) {
			overflow: hidden;
			position: relative;
		}
	}

	&__desc {
		color: $c-darkest;
		font-weight: 300;
		font-size: 2.1rem;
		margin-bottom: 1.5em;
		white-space: nowrap;
		text-overflow: ellipsis;
		display: block;
		text-decoration: none;
	}

	&__price {
		font-size: 2.8rem;
		font-weight: 600;
		margin-bottom: 1em;
		opacity: 1;
		transition: .2s ease;
	}

	&__buy {
		margin-bottom: 2.8rem;
		opacity: 0;
		position: absolute;
		width: 70%;
		bottom: 5px;
		left: 50%;
		transform: translateX(-50%);
		transition: .2s ease;
	}

	&_must {

		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			background: url('../img/must.png') no-repeat;
			width: 144px;
			height: 140px;
			pointer-events: none;
		}
	}
}