.main {

	&__gap {
		margin-bottom: 5em;
	}

	&__title {
		text-transform: uppercase;
		font-size: 4.5rem;
		color: $color-main;
		font-weight: normal;
		text-align: center;
		margin: 0 0 2.5em;
	}
	
	&__adv-wrap {
		background: $color-lighter url('/img/adv-phone.jpg') 50% -40px;
	}

	&__xxs {

		@media (max-width: $screen-xs - 1) {
			width: 100%;
			float: none;
		}
	}

	&__item {
		max-width: 350px;
		margin: 0 auto;
	}

	&__popular {
		max-width: 400px;
		margin: 0 auto 5em;
	}
}