.main {

	&__gap {
		margin-bottom: 5em;
	}

	&__title {
		text-transform: uppercase;
		font-size: 4.5rem;
		color: $color-main;
		font-weight: normal;
		text-align: center;
		margin: 0 0 1.5em;
	}
	
	&__adv-wrap {
		background: $color-lighter url('../img/adv-bg.jpg') 50% -40px;
		margin: 2.5em 0 5em;
	}

	&__xxs {

		@media (max-width: $screen-xs - 1) {
			width: 100%;
			float: none;
		}
	}

	&__item {
		max-width: 350px;
		margin: 2.5em auto;
	}

	&__popular {
		max-width: 400px;
		margin: 1.5em auto 5em;
	}

	&__grid {
		border: 1px solid transparent;

		@media (min-width: $screen-xs) {
			border-right-color: $color-lighter;
			border-bottom-color: $color-lighter;

			&:nth-child(1),
			&:nth-child(2) {
				border-top-color: $color-lighter;
			}

			&:nth-child(2n) {
				border-right-color: transparent;
			}
		}

		@media (min-width: $screen-sm) {

			&:nth-child(2n) {
				border-right-color: $color-lighter;
			}

			&:nth-child(3) {
				border-top-color: $color-lighter;
			}

			&:nth-child(3n) {
				border-right-color: transparent;
			}
		}

		@media (min-width: $screen-md) {

			&:nth-child(3n) {
				border-right-color: $color-lighter;
			}

			&:nth-child(4) {
				border-top-color: $color-lighter;
			}

			&:nth-child(4n) {
				border-right-color: transparent;
			}
		}
	}

	&__bread {
		margin: .9em 0;
	}

	&__pag {
		text-align: center;
		margin: 3em 0 2.5em;
	}

	&__sub {
		margin: 2.5em 0 2em;
	}

	&__select-double {
		margin: 2em 0;
	}

	&__product {
		margin-bottom: 4em;
	}

	&__owl-more {
		margin-bottom: 7em;
	}

	&__section {
		background: no-repeat 50% 0;
		background-size: cover;
		padding-bottom: 100%;
		position: relative;

		@media (min-width: $screen-xs) {
			padding-bottom: 60%;
		}

		@media (min-width: $screen-md) {
			padding-bottom: 40%;
		}

		&_bright {
			background-color: $color-lightest;
		}
	}

	&__full-center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		text-align: center;
	}

	&__404 {
		position: relative;
		background: url('../img/404.png') no-repeat;
		background-size: cover;
		width: 200px;
		height: 89px;
		margin: 0 auto 3em;

		@media (min-width: $screen-sm) {
			width: 300px;
			height: 133px;
		}

		@media (min-width: $screen-md) {
			width: 350px;
			height: 156px;
		}

		&::after {

			@media (min-width: $screen-lg) {
				content: '';
				position: absolute;
				display: inline-block;
				left: 100%;
				bottom: 0;
				background: url('../img/404-pen.png') no-repeat;
				background-size: cover;
				width: 274px;
				height: 140px;
			}
		}
	}

	&__404-desc {
		font-size: 3.5rem;
		color: $color-main;
		margin-bottom: .8em;

		@media (min-width: $screen-sm) {
			font-size: 6rem;
		}
	}
}