.main {

	&__gap {
		margin-bottom: 5em;
	}

	&__title {
		text-transform: uppercase;
		font-size: 4.5rem;
		color: $color-main;
		font-weight: normal;
		text-align: center;
		margin: 0 0 1.5em;
	}
	
	&__adv-wrap {
		background: $color-lighter url('../img/adv-bg.jpg') 50% -40px;
		margin: 2.5em 0 5em;
	}

	&__xxs {

		@media (max-width: $screen-xs - 1) {
			width: 100%;
			float: none;
		}
	}

	&__item {
		max-width: 350px;
		margin: 2.5em auto;
	}

	&__popular {
		max-width: 400px;
		margin: 1.5em auto 5em;
	}

	&__grid {
		border: 1px solid transparent;

		@media (min-width: $screen-xs) {
			border-right-color: $color-lighter;
			border-bottom-color: $color-lighter;

			&:nth-child(1),
			&:nth-child(2) {
				border-top-color: $color-lighter;
			}

			&:nth-child(2n) {
				border-right-color: transparent;
			}
		}

		@media (min-width: $screen-sm) {

			&:nth-child(2n) {
				border-right-color: $color-lighter;
			}

			&:nth-child(3) {
				border-top-color: $color-lighter;
			}

			&:nth-child(3n) {
				border-right-color: transparent;
			}
		}

		@media (min-width: $screen-md) {

			&:nth-child(3n) {
				border-right-color: $color-lighter;
			}

			&:nth-child(4) {
				border-top-color: $color-lighter;
			}

			&:nth-child(4n) {
				border-right-color: transparent;
			}
		}
	}

	&__bread {
		margin: 1em 0;
	}

	&__pag {
		text-align: center;
		margin: 3em 0 2.5em;
	}

	&__sub {
		margin: 2.5em 0 2em;
	}
}