.menu {
	display: none;

	@media (min-width: $screen-sm) {
		list-style-type: none;
		padding: 0;
		margin: 0;
		text-align: center;
		display: flex;
		justify-content: space-between;
	}

	&__item {
		position: relative;

		&:hover,
		&:focus {

			.menu {

				&__sub {
					visibility: visible;
					opacity: 1;
				}

				&__link {
					@extend a:hover;
				}
			}
		}
	}

	&__link {
		color: $color-main;
		text-transform: uppercase;
		font-size: 2.4rem;
		font-weight: 600;
		line-height: 3.2em;
		display: inline-block;
		text-decoration: none;
		transition: .3s ease all .15s;

		&_mark {
			background: no-repeat 50% 50%;
			@include bgi-retina('/img/mark', 'png', 100%, auto);
			background-size: contain;
			width: 80px;

			@media (min-width: $screen-md) {
				width: 100px;
			}

			@media (min-width: $screen-lg) {
				width: 118px;
			}
		}
	}

	&__sub {
		list-style-type: none;
		text-align: left;
		padding: 14px 0;
		background-color: $color-lightest;
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		visibility: hidden;
		opacity: 0;
		transition: .3s ease all .15s;
		z-index: 5;

		&::before {
			content: '';
			display: block;
			position: absolute;
			bottom: 100%;
			left: 50%;
			transform: translateX(-50%);
			border: 13px solid transparent;
			border-top: 0;
			border-bottom-color: $color-lightest;
		}
	}

	&__sub-link {
		font-size: 1.6rem;
		color: $color-main;
		display: block;
		line-height: 2em;
		padding: 0 25px;
		transition: .2s ease-out background;
		text-decoration: none;

		&:hover,
		&:focus {
			background-color: $color-lighter;
		}
	}
}