.menu {
	display: none;

	@media (min-width: $screen-sm) {
		list-style-type: none;
		padding: 0;
		margin: 0;
		text-align: center;
		display: flex;
		justify-content: space-between;
	}

	&__item {
		position: relative;

		&:hover,
		&:focus {

			.menu {

				&__sub {
					visibility: visible;
					opacity: 1;
				}

				&__link {
					@extend a:hover;
					@extend .menu__link:hover;
				}
			}
		}
	}

	&__link {
		text-transform: uppercase;
		font-size: 2.4rem;
		font-weight: 600;
		line-height: 3.2em;
		display: inline-block;
		text-decoration: none;
		position: relative;

		&::before {
			content: attr(data-hover);
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			line-height: 2.5em;
			height: 2.5em;
			color: $color-menu;
			border-top: 2px solid $color-menu;
			margin-top: -2px;
			overflow: hidden;
			white-space: nowrap;
			max-width: 0;
			transition: .3s ease;
		}

		&:hover,
		&:focus {
			color: $color-main;

			&::before {
				max-width: 100%;
			}
		}

		&_mark {
			width: 80px;

			@media (min-width: $screen-md) {
				width: 100px;
			}

			@media (min-width: $screen-lg) {
				width: 118px;
			}

			&::before,
			&::after {
				content: '';
				border: 0;
				display: block;
				@include bgi-retina('../img/mark', 'png', cover);
				background-size: cover;
				width: 100%;
				max-width: 100%;
				height: 60%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				margin: 0;
				transition: .2s ease all;
				z-index: 0;

				@media (min-width: $screen-md) {
					height: 66%;
				}
			}

			&::before {
				opacity: 1;
			}

			&::after {
				opacity: 0;

				@media (min-width: $screen-sm) {
					background-position: 0px -27px;
				}

				@media (min-width: $screen-md) {
					background-position: 0px -35px;
				}

				@media (min-width: $screen-lg) {
					background-position: 0px -40px;
				}

				@media (min-width: $screen-md) and (-webkit-min-device-pixel-ratio: 1.5),
				(min-width: $screen-md) and (min-resolution: 144dpi) {
					height: 55%;
					background-position: 0px -33px;
				}
			}

			&:hover,
			&:focus {

				&::before,
				&::after {
					width: 100%;
					max-width: 100%;
					height: 60%;

					@media (min-width: $screen-md) {
						height: 66%;
					}
				}

				&::before {
					opacity: 0;
				}

				&::after {
					opacity: 1;
				}
			}
		}
	}

	&__link-i {
		position: relative;
		z-index: 1;
	}

	&__sub {
		list-style-type: none;
		text-align: left;
		padding: 14px 0;
		background-color: $color-lightest;
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		visibility: hidden;
		opacity: 0;
		transition: .3s ease all .15s;
		z-index: 5;

		&::before {
			content: '';
			display: block;
			position: absolute;
			bottom: 100%;
			left: 50%;
			transform: translateX(-50%);
			border: 13px solid transparent;
			border-top: 0;
			border-bottom-color: $color-lightest;
		}
	}

	&__sub-link {
		font-size: 1.6rem;
		color: $color-main;
		display: block;
		line-height: 2em;
		padding: 0 25px;
		transition: .2s ease-out background;
		text-decoration: none;

		&:hover,
		&:focus {
			background-color: $color-lighter;
		}
	}
}