.pag {
	font-family: $font-second;

	&__list {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: inline-block;

		&::after {
			@extend %clear;
		}
	}

	&__item {
		display: inline-block;
		float: left;
	}

	&__link {
		font-size: 2.5rem;
		display: inline-block;
		padding: 6px 12px;
		text-decoration: none;
		border: none;
		color: $c-darkest;
		position: relative;

		&::after {
			color: $c-dark;
			content: '';
			position: absolute;
			width: 100%;
			height: 1em;
			bottom: 5px;
			left: 50%;
			transform: translateX(-50%);
			background-color: $c-main;
			transition: .1s ease;
			opacity: 0;
		}

		&:hover,
		&:focus {
			color: $c-darkest;

			&::after {
				background-color: $c-dark;
				opacity: .15;
			}
		}

		&:active,
		&_active {

			&::after {
				opacity: .15;
			}
		}

		i {
			line-height: 2.7rem;
			font-size: 3rem;
		}
	}
}