.popular {
	text-align: center;;
	display: block;
	text-decoration: none;
	color: black;

	&:hover,
	&:focus {
		color: lighten($color-main, 10%);

		.popular {

			&__img {
				box-shadow: 2px 2px 10px darken($c-light-2, 20%);
			}
		}
	}

	&__img {
		width: 90%;
		padding-bottom: 90%;
		margin: 0 auto 3em;
		background: no-repeat 50% 50%;
		background-size: cover;
		transition: .2s ease;
		border: 10px solid $c-light-2;

		&_1 {
			background-image: url('../img/popular-1.png');
		}

		&_2 {
			background-image: url('../img/popular-2.png');
		}

		&_3 {
			background-image: url('../img/popular-3.png');
		}
	}

	&__title {
		font-size: 4.9rem;
		font-family: $font-second;
		color: $c-dark;
	}
}