.popular {
	text-align: center;;
	display: block;
	text-decoration: none;
	color: black;

	&:hover,
	&:focus {
		color: lighten($color-main, 10%);

		.popular {

			&__img {

				@media (min-width: $screen-md) {
					transform: scale(1.03);
				}
			}
		}
	}

	&__img {
		width: 90%;
		padding-bottom: 90%;
		margin: 0 auto 3em;
		background: no-repeat 50% 50%;
		background-size: cover;
		border-radius: 50%;
		transition: .2s ease;

		&_1 {
			background-image: url('../img/popular-1.jpg');
		}

		&_2 {
			background-image: url('../img/popular-2.jpg');
		}

		&_3 {
			background-image: url('../img/popular-3.jpg');
		}
	}

	&__title {
		font-size: 2.3rem;
		text-transform: uppercase;
		font-weight: 700;

	}
}