.search {
	display: inline-block;
	transition: .3s ease;
	outline: 1px solid transparent;

	&:hover {

		@media (min-width: $screen-xs) {
			outline: 1px solid $color-light;
			outline-offset: 0;
		}
	}

	&__btn {
		background: no-repeat 50% 50%;
		@include bgi-retina('/img/search', 'png', 22px, 22px);
		display: inline-block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 50px;
		height: 27px;

		@media (min-width: $screen-xs) {
			height: auto;
		}

		&:hover,
		&:focus {

			@media (min-width: $screen-xs) {
				background-color: $color-lighter;
			}
		}

		&:active {

			@media (min-width: $screen-xs) {
				background-color: $color-light;
			}
		}
	}

	&__input {
		display: none;

		@media (min-width: $screen-xs) {
			display: inline-block;
			border: none;
			font-size: 1.8rem;
			padding: 8px 50px 7px 20px;
			outline: 1px solid transparent;
			outline-offset: 0;
			color: $color-main;
		}

		&:focus {

			@media (min-width: $screen-xs) {
				outline: 1px solid $color-light;
				outline-offset: 0;
			}
		}
	}
}