.search {
	display: inline-block;
	transition: .3s ease;
	outline: 1px solid transparent;

	&:hover {

		@media (min-width: $screen-xs) {
			outline: 1px solid $color-light;
			outline-offset: 0;
		}
	}

	&__btn {
		display: inline-block;
		position: absolute;
		top: -10px;
		right: 0;
		bottom: 0;
		width: 50px;
		height: 50px;

		@media (min-width: $screen-xs) {
			top: 0;
			height: auto;
		}

		&::before,
		&::after {
			content: '';
			display: block;
			@include bgi-retina('../img/search', 'png', cover);
			width: 22px;
			height: 22px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			transition: .2s ease all;
		}

		&::before {
			background-position: -22px 0px;
			opacity: 1;
		}

		&::after {
			opacity: 0;
		}

		&:hover,
		&:focus {

			&::before {
				opacity: 0;
			}

			&::after {
				opacity: 1;
			}
		}
	}

	&__input {
		display: none;

		@media (min-width: $screen-xs) {
			display: inline-block;
			border: none;
			font-size: 1.8rem;
			padding: 8px 50px 7px 20px;
			outline: 1px solid transparent;
			outline-offset: 0;
			color: $color-main;
		}

		&:focus {

			@media (min-width: $screen-xs) {
				outline: 1px solid $color-light;
				outline-offset: 0;
			}
		}
	}
}