.toggle {
	cursor: pointer;
	transition: opacity .5s, visibility 0s;
	transition-delay: .5s;
	visibility: visible;
	opacity: 1;
	height: 35px;
	width: 40px;
	padding: 9px 7px;
	display: inline-block;
	vertical-align: middle;

	&__line {
		display: block;
		height: 3px;
		margin-bottom: 4px;
		background-color: $c-dark;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&_hidden {
		visibility: hidden;
		opacity: 0;
	}
}