.top {
	width: 100%;
	position: fixed;
	border-bottom: 1px solid $color-lighter;
	font-size: 1.8rem;
	z-index: 50;

	&__left {
		float: left;
		height: 100%;
		@include header-sides(margin-left);
	}

	&__right {
		float: right;
		@include header-sides(margin-right);
	}

	&__item {
		color: $color-main;
		text-decoration: none;
		font-weight: 600;
		line-height: $top-height - 1;
		display: inline-block;

		&_phone {
			font-size: 2rem;
		}

		&_reg {
			margin-right: 15px;

			@media (min-width: $screen-xs) {
				margin-right: 5em;
			}

			&:focus {

				@media (min-width: $screen-sm) {
					color: $color-main;
				}
			}
		}
	}
}