.top {
	width: 100%;
	position: fixed;
	border-bottom: 1px solid $color-lighter;
	font-size: 1.8rem;
	z-index: 50;

	&__left {
		float: left;
		height: 100%;
		@include header-sides(margin-left);
	}

	&__right {
		float: right;
		@include header-sides(margin-right);
	}

	&__item {
		color: $color-main;
		text-decoration: none;
		font-weight: 600;
		line-height: $top-height - 1;
		display: inline-block;

		&:hover,
		&:focus {
			color: $color-light;
		}

		&_phone {
			font-size: 2rem;
		}

		&_reg {
			margin-right: 15px;

			@media (min-width: $screen-xs) {
				margin-right: 5em;
			}
		}

		&_bag {
			position: relative;
			padding-left: 27px;

			@media (min-width: $screen-xs) {
				padding-left: 37px;
			}

			&::before {
				content: '';
				display: block;
				background-image: url('/img/bag.png');
				width: 27px;
				height: 27px;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -16px;
			}
		}
	}

	&__text {
		display: none;

		@media (min-width: $screen-xs) {
			display: inline;
		}
	}
}