.sign {
	font-family: $font-second;
	font-size: 2.3rem;

	&__outer {
		margin: 0;
		width: auto;

		@media (min-width: $screen-xs) {
			margin: 30px auto;
			width: 350px;
		}

		@media (min-width: $screen-sm) {
			width: 400px;
		}

		@media (min-width: $screen-md) {
			width: 450px;
		}

		@media (min-width: $screen-lg) {
			width: 500px;
		}
	}

	&__wrap {
		background-color: white;
		box-shadow: 0 0 5px rgba(0, 0, 0, .35);

		&_up,
		&_forgot {
			display: none;
		}
	}

	&__header {
		padding: 0 4em 0 2em;
		position: relative;
		overflow: auto;
		height: 45px;

		@media (min-width: $screen-xs) {
			padding: 0 4.5em;
		}

		@media (min-width: $screen-md) {
			height: 60px;
		}
	}

	&__body {
		padding: 0 2em .5em;

		@media (min-width: $screen-xs) {
			padding: 0 4.5em 2.2em;
		}
	}

	&__title {
		font-family: $font-main;
		font-weight: 700;
		font-size: 3.3rem;
		color: $c-dark;
		text-align: center;
		margin: 0 0 .8em;
	}

	&__descr {
		margin: 1.1em 0 1.1em;
		color: $c-dark;

		&_inline {
			display: inline-block;
			margin: 1.1em 0 0 1.5em;
		}

		&_lite {
			color: $c-light-3;
		}
	}

	&__or {
		margin: 1em 0;
		line-height: 1em;
		text-align: center;
	}

	&__form {
		margin-bottom: 1.3em;
	}

	&__close {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 45px;
		background: $c-main no-repeat 50% 50%;
		@include bgi-retina('../img/close', 'png', 28px);
		cursor: pointer;
		transition: .3s ease;

		@media (min-width: $screen-md) {
			width: 60px;
		}

		&:hover,
		&:focus {
			background-color: darken($c-main, 15%);
		}
	}
}