.icon-btn {
	position: relative;
	line-height: 2.5;

	&::before {
		content: '';
		display: block;
		@include bgi-retina('../img/header-icons', 'png', cover);
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		transition: .2s ease all;
	}

	&__count {
		display: none;
		top: 13px;
		position: absolute;
		color: white;
		left: 0;
		font-size: 11px;
		line-height: 1;
		width: 26px;
		text-align: center;

		@media (min-width: $screen-md) {
			top: 15px;
		}

		@media (min-width: $screen-lg) {
			top: 17px;
		}
	}

	&__text {
		display: block;
	}

	&_enter {
		padding-left: 49px;

		&::before {
			background-position: -84px 0;
			width: 39px;
			height: 33px;
		}
	}

	&_bag {
		padding-left: 40px;

		&::before {
			background-position: -27px 0;
			width: 27px;
			height: 34px;

			@include retina() {
				width: 28px;
			}
		}

		.icon-btn {

			//=====

			&__text {
				width: 0;
				visibility: hidden;

				@media (min-width: $screen-md) {
					width: auto;
					visibility: visible;
				}
			}
		}
	}

	&_search {

		@media (min-width: $screen-sm) {
			padding-left: 40px;
		}

		&::before {

			@media (min-width: $screen-sm) {
				background-position: -54px 0;
				width: 30px;
				height: 33px;
			}
		}

		.icon-btn {
			//=====

			&__text {
				width: 0;
				visibility: hidden;

				@media (min-width: $screen-md) {
					width: auto;
					visibility: visible;
				}
			}
		}
	}

	&_full {

		&::before {
			background-position: 0 0;
			width: 27px;
			height: 34px;

			@include retina() {
				width: 27px;
				height: 34px;
			}
		}

		.icon-btn {
			//=====

			&__count {
				display: inline-block;
			}
		}
	}
}