<div class="aside js-aside">
	<nav class="aside__wrap">
		<h2>All Categories<i class="fa fa-reorder aside__toggle"></i></h2>
		<ul>
			<li>
				<a href="#">Just arrived</a>
			</li>
			<li>
				<a href="#">Makeup<i class="fa fa-laptop"></i></a>
				<h2>Makeup<i class="fa fa-laptop"></i></h2>
				<ul>
					<li>
						<a href="#">Eyeshadow</a>
					</li>
					<li>
						<a href="#">Mascara</a>
					</li>
					<li>
						<a href="#">Lipstick</a>
					</li>
					<li>
						<a href="#">Lipgloss</a>
					</li>
					<li>
						<a href="#">Powder</a>
					</li>
					<li>
						<a href="#">Foundation</a>
					</li>
					<li>
						<a href="#">Concealer</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">Skin Care</a>
			</li>
			<li>
				<a href="#">Bath & Body</a>
			</li>
			<li>
				<a href="#">Men</a>
			</li>
			<li>
				<a href="#">Gifts</a>
			</li>
			<li>
				<a href="#">Sale</a>
			</li>
			<li>
				<a href="#">More</a>
			</li>
		</ul>
	</nav>
</div>