<nav class="aside">

	<div class="aside__list-wrap">
		<ul class="aside__list">
			<li class="aside__item"><a class="aside__link" href="#" data-sub="sub-1">Для лица</a></li>
			<li class="aside__item"><a class="aside__link" href="#" data-sub="sub-2">Для волос</a></li>
			<li class="aside__item"><a class="aside__link" href="#">Макияж</a></li>
			<li class="aside__item"><a class="aside__link" href="#">Гигиена</a></li>
			<li class="aside__item"><a class="aside__link" href="#">Украшения</a></li>
			<li class="aside__item"><a class="aside__link" href="#">Доставка</a></li>
			<li class="aside__item"><a class="aside__link" href="#">Блог</a></li>
			<li class="aside__item"><a class="aside__link" href="#">Контакты</a></li>
		</ul>
	</div>

	<div class="aside__sub-wrap" id="sub-1">
		<ul class="aside__sub">
			<li class="aside__sub-item"><a class="aside__sub-link" href="#">Тональная основа</a></li>
			<li class="aside__sub-item"><a class="aside__sub-link" href="#">ВВ Крем</a></li>
			<li class="aside__sub-item"><a class="aside__sub-link" href="#">СС Крем</a></li>
			<li class="aside__sub-item"><a class="aside__sub-link" href="#">Кушон</a></li>
			<li class="aside__sub-item"><a class="aside__sub-link" href="#">Праймер</a></li>
			<li class="aside__sub-item"><a class="aside__sub-link" href="#">Пудра</a></li>
			<li class="aside__sub-item"><a class="aside__sub-link" href="#">Румяна</a></li>
			<li class="aside__sub-item"><a class="aside__sub-link" href="#">Хайлайтер</a></li>
			<li class="aside__sub-item"><a class="aside__sub-link" href="#">Бронзатор</a></li>
			<li class="aside__sub-item"><a class="aside__sub-link" href="#">Консилер</a></li>
			<li class="aside__sub-item"><a class="aside__sub-link" href="#">Корректор</a></li>
			<li class="aside__sub-item"><a class="aside__sub-link" href="#">Вуаль</a></li>
			<li class="aside__sub-item"><a class="aside__sub-link" href="#">Фиксатор макияжа</a></li>
		</ul>
	</div>

	<div class="aside__sub-wrap" id="sub-2">
		<ul class="aside__sub">
			<li class="aside__sub-item"><a class="aside__sub-link" href="#">Тональная основа</a></li>
			<li class="aside__sub-item"><a class="aside__sub-link" href="#">ВВ Крем</a></li>
			<li class="aside__sub-item"><a class="aside__sub-link" href="#">СС Крем</a></li>
			<li class="aside__sub-item"><a class="aside__sub-link" href="#">Кушон</a></li>
			<li class="aside__sub-item"><a class="aside__sub-link" href="#">Праймер</a></li>
			<li class="aside__sub-item"><a class="aside__sub-link" href="#">Пудра</a></li>
			<li class="aside__sub-item"><a class="aside__sub-link" href="#">Румяна</a></li>
			<li class="aside__sub-item"><a class="aside__sub-link" href="#">Хайлайтер</a></li>
			<li class="aside__sub-item"><a class="aside__sub-link" href="#">Бронзатор</a></li>
			<li class="aside__sub-item"><a class="aside__sub-link" href="#">Консилер</a></li>
			<li class="aside__sub-item"><a class="aside__sub-link" href="#">Корректор</a></li>
			<li class="aside__sub-item"><a class="aside__sub-link" href="#">Вуаль</a></li>
			<li class="aside__sub-item"><a class="aside__sub-link" href="#">Фиксатор макияжа</a></li>
		</ul>
	</div>
</nav>