<!-- FOOTER -->
<footer class="footer">
	<div class="container">

		<div class="row footer__row">

			<ul class="f-menu">
				<li class="f-menu__item"><a href="#" class="f-menu__link">Для лица</a></li>
				<li class="f-menu__item"><a href="#" class="f-menu__link">Для тела</a></li>
				<li class="f-menu__item"><a href="#" class="f-menu__link">Для волос</a></li>
				<li class="f-menu__item"><a href="#" class="f-menu__link">Макияж</a></li>
				<li class="f-menu__item"><a href="#" class="f-menu__link">Гигиена</a></li>
				<li class="f-menu__item"><a href="#" class="f-menu__link">Украшения</a></li>
				<li class="f-menu__item"><a href="#" class="f-menu__link">Доставка</a></li>
				<li class="f-menu__item"><a href="#" class="f-menu__link">Блог</a></li>
				<li class="f-menu__item"><a href="#" class="f-menu__link">Контакты</a></li>
			</ul>
		</div>

		<div class="row">

			<div class="footer__soc-wrap">
				<a class="soc soc_fb footer__soc" href="#">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a class="soc soc_in footer__soc" href="#">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>
				<a class="soc soc_tw footer__soc" href="#">
					<i class="fa fa-twitter" aria-hidden="true"></i>
				</a>
				<a class="soc soc_you footer__soc" href="#">
					<i class="fa fa-youtube-play" aria-hidden="true"></i>
				</a>
				<a class="soc soc_inst footer__soc" href="#">
					<i class="fa fa-instagram" aria-hidden="true"></i>
				</a>
			</div>
		</div>

		<div class="row">

			<div class="col-sm-8">
				<p class="footer__rights">© 2017 Premium Cosmetics. All rights reserved.</p>
			</div>

			<div class="col-sm-4">
				<p class="footer__copyright">Developed by <a class="footer__copyright-link" href="http://webcenter.pro/" target="_blank">Webcenter.pro</a></p>
			</div>
		</div>
	</div>
</footer>