<!-- FOOTER -->
<footer class="footer">
	<div class="container">

		<div class="row footer__row">

			<div class="col-sm-4 col-md-4">
				<a class="logo footer__logo" href="/">
					<img class="logo__img" src="img/logo.png" srcset="img/logo@2x.png 2x" alt="Bioaqua">
				</a>
			</div>

			<div class="col-sm-8 col-md-6">
				<ul class="f-menu">
					<li class="f-menu__wrap">
						<ul class="f-menu__col">
							<li class="f-menu__item"><a href="#" class="f-menu__link">Just arrived</a></li>
							<li class="f-menu__item"><a href="#" class="f-menu__link">Makeup</a></li>
						</ul>
					</li>
					<li class="f-menu__wrap">
						<ul class="f-menu__col">
							<li class="f-menu__item"><a href="#" class="f-menu__link">Skin care</a></li>
							<li class="f-menu__item"><a href="#" class="f-menu__link">Bath & Body</a></li>
						</ul>
					</li>
					<li class="f-menu__wrap">
						<ul class="f-menu__col">
							<li class="f-menu__item"><a href="#" class="f-menu__link">Men</a></li>
							<li class="f-menu__item"><a href="#" class="f-menu__link">Gifts</a></li>
						</ul>
					</li>
					<li class="f-menu__wrap">
						<ul class="f-menu__col">
							<li class="f-menu__item"><a href="#" class="f-menu__link">Sale</a></li>
							<li class="f-menu__item"><a href="#" class="f-menu__link">More</a></li>
						</ul>
					</li>
				</ul>
			</div>

			<div class="col-sm-12 col-md-2">
				<p class="footer__phone">
					<a href="#" class="footer__phone-link">8 800 000 00 00</a>
				</p>
			</div>
		</div>

		<div class="row">

			<div class="col-sm-4">
				<p class="footer__copyright">Developed by <a class="footer__copyright-link" href="http://webcenter.pro/" target="_blank">Webcenter.pro</a></p>
			</div>

			<div class="col-sm-8 col-md-5">
				<p class="footer__rights">© 2016 BIOAQUA USA. All rights reserved.</p>
			</div>
		</div>
	</div>
</footer>