<!-- HEADER -->
<header class="header">

	<div class="top header__top">

		<div class="top__left">
			<div class="toggle header__toggle js-aside_toggle visible-xs">
				<span class="toggle__line"></span>
				<span class="toggle__line"></span>
				<span class="toggle__line"></span>
			</div>
			<a href="#" class="top__item top__item_phone hidden-xs">8 800 000 00 00</a>
		</div>

		<div class="top__right">
			<a href="#" class="top__item top__item_reg">Sign in / Register</a>
			<a href="#" class="top__item top__item_bag"><span class="top__text">My Bag (0)</span></a>
		</div>
	</div>

	<div class="header__main">

		<div class="header__wrap">

			<a class="logo header__logo" href="/">
				<img class="logo__img" src="/img/logo.png">
			</a>

			<div class="search header__search">
				<input class="search__input" type="text" placeholder="Search">
				<a class="search__btn" href="#"></a>
			</div>
		</div>

		<div class="container">
			<ul class="menu">
				<li class="menu__item"><a href="#" class="menu__link">Just arrived</a></li>
				<li class="menu__item">
					<a href="#" class="menu__link">Makeup</a>
					<ul class="menu__sub">
						<li class="menu__sub-item"><a href="#" class="menu__sub-link">Eyeshadow</a></li>
						<li class="menu__sub-item"><a href="#" class="menu__sub-link">Mascara</a></li>
						<li class="menu__sub-item"><a href="#" class="menu__sub-link">Lipstick</a></li>
						<li class="menu__sub-item"><a href="#" class="menu__sub-link">Lipgloss</a></li>
						<li class="menu__sub-item"><a href="#" class="menu__sub-link">Powder</a></li>
						<li class="menu__sub-item"><a href="#" class="menu__sub-link">Foundation</a></li>
						<li class="menu__sub-item"><a href="#" class="menu__sub-link">Concealer</a></li>
					</ul>
				</li>
				<li class="menu__item"><a href="#" class="menu__link">Skin care</a></li>
				<li class="menu__item"><a href="#" class="menu__link">Bath & body</a></li>
				<li class="menu__item"><a href="#" class="menu__link">Men</a></li>
				<li class="menu__item"><a href="#" class="menu__link">Gifts</a></li>
				<li class="menu__item"><a href="#" class="menu__link menu__link_mark">Sale</a></li>
				<li class="menu__item"><a href="#" class="menu__link">More</a></li>
			</ul>
		</div>
	</div>
</header>