<!-- HEADER -->
<header class="header">

	<div class="header__left">
		<div class="header__toggle-wrap">
			<div class="toggle header__toggle">
				<span class="toggle__line"></span>
				<span class="toggle__line"></span>
				<span class="toggle__line"></span>
			</div>
			<span class="header__item header__item_menu">Меню</span>
		</div>
		<a href="#" class="header__item header__phone hidden-xs">8 (812) 777-77-78</a>
	</div>

	<a class="logo header__logo" href="/">
		<img class="logo__img" src="img/logo.png" srcset="img/logo@2x.png 2x" alt="Bioaqua">
	</a>

	<div class="header__right">
		<a href="#" class="icon-btn icon-btn_enter header__item" data-toggle="modal" data-target=".js-sign">
			<span class="icon-btn__text">Вход</span>
		</a>
		<span class="header__line">&nbsp;</span>
		<a href="#" class="icon-btn icon-btn_bag header__item">
			<span class="icon-btn__text">Корзина</span>
			<span class="icon-btn__count">0</span>
		</a>
		<span class="header__line">&nbsp;</span>
		<a href="#" class="icon-btn icon-btn_search header__item">
			<span class="icon-btn__text">Поиск</span>
		</a>
	</div>
</header>