<!-- HEADER -->
<header class="header">

	<div class="top header__top">

		<div class="top__left">
			<div class="toggle header__toggle js-aside_toggle visible-xs">
				<span class="toggle__line"></span>
				<span class="toggle__line"></span>
				<span class="toggle__line"></span>
			</div>
			<a href="#" class="top__item top__item_phone hidden-xs">8 800 000 00 00</a>
		</div>

		<div class="top__right">
			<a href="#" class="top__item top__item_reg" data-toggle="modal" data-target=".js-sign">Sign in / Register</a>
			<a href="#" class="bag top__item">
				<span class="bag__text">My Bag (</span><span class="bag__count">0</span><span class="bag__text">)</span>
			</a>
		</div>
	</div>

	<div class="header__main">

		<div class="header__wrap">

			<a class="logo header__logo" href="/">
				<img class="logo__img" src="img/logo.png" srcset="img/logo@2x.png 2x">
			</a>

			<div class="search header__search">
				<input class="search__input" type="text" placeholder="Search">
				<a class="search__btn" href="#"></a>
			</div>
		</div>

		<div class="container">
			<ul class="menu">
				<li class="menu__item"><a href="#" class="menu__link" data-hover="Just arrived">Just arrived</a></li>
				<li class="menu__item">
					<a href="#" class="menu__link" data-hover="Makeup">Makeup</a>
					<ul class="menu__sub">
						<li class="menu__sub-item"><a href="#" class="menu__sub-link">Eyeshadow</a></li>
						<li class="menu__sub-item"><a href="#" class="menu__sub-link">Mascara</a></li>
						<li class="menu__sub-item"><a href="#" class="menu__sub-link">Lipstick</a></li>
						<li class="menu__sub-item"><a href="#" class="menu__sub-link">Lipgloss</a></li>
						<li class="menu__sub-item"><a href="#" class="menu__sub-link">Powder</a></li>
						<li class="menu__sub-item"><a href="#" class="menu__sub-link">Foundation</a></li>
						<li class="menu__sub-item"><a href="#" class="menu__sub-link">Concealer</a></li>
					</ul>
				</li>
				<li class="menu__item"><a href="#" class="menu__link" data-hover="Skin care">Skin care</a></li>
				<li class="menu__item"><a href="#" class="menu__link" data-hover="Bath & body">Bath & body</a></li>
				<li class="menu__item"><a href="#" class="menu__link" data-hover="Men">Men</a></li>
				<li class="menu__item"><a href="#" class="menu__link" data-hover="Gifts">Gifts</a></li>
				<li class="menu__item"><a href="#" class="menu__link menu__link_mark" data-hover="Sale"><span class="menu__link-i">Sale</span></a></li>
				<li class="menu__item"><a href="#" class="menu__link" data-hover="More">More</a></li>
			</ul>
		</div>
	</div>

	<p class="header__bottom">Free shipping over $50</p>
</header>