<div class="modal fade sign-in" id="signIn">
	<div class="modal-dialog">
		<div class="sign-in__wrap">

			<div class="sign-in__header">
				<div class="sign-in__close" data-dismiss="modal"></div>
				<p class="sign-in__descr">Don`t have account? <a class="sign-in__link" href="#">Create account</a></p>
			</div>

			<div class="sign-in__body">
				<form class="form">
					<input class="input input_wide form__input" type="text" placeholder="E-mail" required>
					<input class="input input_wide form__input" type="text" placeholder="Password" required>
					<input class="button button_wide" type="submit" value="Sign in">
				</form>
				<p class="sign-in__descr"><a class="sign-in__link" href="#">Forgot your password?</a></p>
			</div>
		</div>
	</div>
</div>