@import url('../libs/bootstrap/dist/css/bootstrap.css');
@import url('../libs/owl.carousel/dist/assets/owl.carousel.css');
@import url('../libs/owl.carousel/dist/assets/owl.theme.default.css');
@import url('../libs/fontawesome/css/font-awesome.css');
@import url('../libs/fotorama/fotorama.css');
@import url('../libs/perfect-scrollbar/css/perfect-scrollbar.css');