@import url('global/variables.scss');
@import url('global/global.scss');
@import url('global/fonts.scss');
@import url('global/bitrix.scss');

@import url('blocks/aside/aside.scss');
@import url('blocks/buy-btn.scss');
@import url('blocks/owl/owl.scss');
@import url('blocks/wrapper.scss');
@import url('blocks/header.scss');
@import url('blocks/top.scss');
@import url('blocks/main.scss');
@import url('blocks/search.scss');
@import url('blocks/logo.scss');
@import url('blocks/menu.scss');
@import url('blocks/toggle.scss');
@import url('blocks/f-menu.scss');
@import url('blocks/footer.scss');
@import url('blocks/item.scss');
@import url('blocks/adv.scss');
@import url('blocks/popular.scss');
@import url('blocks/sign/sign.scss');
@import url('blocks/form.scss');
@import url('blocks/input/input.scss');
@import url('blocks/button/button.scss');
@import url('blocks/bag/bag.scss');
@import url('blocks/pag.scss');
@import url('blocks/bread.scss');
@import url('blocks/banner.scss');
@import url('blocks/sub.scss');
@import url('blocks/select/select.scss');
@import url('blocks/select-double.scss');
@import url('blocks/product/product.scss');
@import url('blocks/accord/accord.scss');
@import url('blocks/owl-more/owl-more.scss');
@import url('blocks/fotorama/fotorama.scss');