.input {
	position: relative;
	display: inline-block;
	font-family: $font-second;

	&__field {
		width: 100%;
		border: 1px solid $c-light-3;
		padding: 0 1.8em;
		height: 3.5em;
		color: $c-dark;

		&:-webkit-autofill {
			-webkit-box-shadow: inset 0 0 0 50px white !important; /* Цвет фона */
			-webkit-text-fill-color: $c-dark !important; /* цвет текста */
			color: $c-dark !important; /* цвет текста */
		}

		&:focus {

			+ .input {

				&__label {
					text-indent: 10px;
				}
			}
		}

		&_fill {

			+ .input {

				&__label {
					text-indent: 100px;
					opacity: 0;
				}
			}

			&:focus {

				+ .input {

					&__label {
						text-indent: 100px;
						opacity: 0;
					}
				}
			}
		}
	}

	&__label {
		padding: 0 1.8em;
		margin: 0;
		width: 100%;
		position: absolute;
		top: 50%;
		left: 0;
		user-select: none;
		pointer-events: none;
		overflow: hidden;
		font-weight: normal;
		color: $c-dark;
		transform: translateY(-50%);
		transition: .25s ease-in-out;
		white-space: nowrap;
	}

	&_wide {
		display: block;
	}
}