.select {
	cursor: pointer;
	user-select: none;
	display: inline-block;
	position: relative;
	font-size: 2.0rem;
	min-width: 200px;

	&__current {
		padding: .5em 2.5em .5em 1em;
		background-color: white;
		color: $color-gray;
		border: 1px solid $color-lighter;
		transition: .2s ease;

		&::after {
			content: '';
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: 0;
			height: 0;
			border: 6px solid transparent;
			border-top-color: $color-gray;
			border-bottom: none;
			transition: .2s ease;
		}

		&_active {
			background-color: $color-light;
			border-color: $color-light;
			color: white;

			&::after {
				transform: translateX(-50%) translateY(-50%) rotate(180deg);
				border-top-color: white;
			}
		}
	}

	&__list {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		padding: 0;
		list-style-type: none;
		background-color: $color-lightest;
		border: 1px solid $color-lighter;
		border-top: none;
		z-index: 1;
	}

	&__item {
		padding: .5em 1em;
		color: $color-gray;
		transition: .2s ease-out background;

		&:hover {
			background-color: $color-lighter;
			color: darken($color-light, 20%);
		}
	}
}