html {
	font-size: 6px;

	@media (min-width: $screen-md) {
		font-size: 7px;
	}

	@media (min-width: $screen-lg) {
		font-size: 8px;
	}
}

body {
	font-family: $font-main;
	font-size: 1.6rem;
}

input {
	-webkit-appearance: none;
	border-radius: 0;

	&:hover,
	&:focus {
		outline: none;
	}
}