html {
	height: 100%;
	font-size: 6px;

	@media (min-width: $screen-md) {
		font-size: 7px;
	}

	@media (min-width: $screen-lg) {
		font-size: 8px;
	}
}

body {
	font-family: $font-main;
	font-size: 2rem;
	color: black;
	height: 100%;
	display: flex;
	flex-direction: column;
}

::selection {
	background-color: $color-light;
}

input {
	-webkit-appearance: none;
	border-radius: 0;
	transition: .3s ease;

	&::-webkit-input-placeholder {
		color: $color-light;
		font-size: 1.8rem;
		text-indent: 0;
		transition: .3s ease all;
		font-weight: 300;
	}

	&::-moz-placeholder {
		color: $color-light;
		font-size: 1.8rem;
		text-indent: 0;
		transition: .3s ease all;
		font-weight: 300;
	}

	&:-moz-placeholder {
		color: $color-light;
		font-size: 1.8rem;
		text-indent: 0;
		transition: .3s ease all;
		font-weight: 300;
	}

	&:-ms-input-placeholder {
		color: $color-light;
		font-size: 1.8rem;
		text-indent: 0;
		transition: .3s ease all;
		font-weight: 300;
	}

	&:focus {
		outline: none;

		&::-webkit-input-placeholder {
			opacity: 0;
			text-indent: 200px;
		}

		&::-moz-placeholder {
			opacity: 0;
			text-indent: 200px;
		}

		&:-moz-placeholder {
			opacity: 0;
			text-indent: 200px;
		}

		&:-ms-input-placeholder {
			opacity: 0;
			text-indent: 200px;
		}
	}

	&:hover {
		outline: none;
	}
}

a {
	transition: .2s ease all;
	color: $color-main;
	text-decoration: underline;

	&:hover,
	&:focus {
		outline: none;
		color: $c-main;
		text-decoration: none;
	}

	&:active {
		outline: none;
	}
}

hr {
	border-color: $color-lighter;
	margin: 0;
}