$color-main:    #002A4C;
$color-lighter: #D7F2F9;
$color-light:   #79B8DB;
$color-dark:    #5F5159;
$color-button:  #5FCEFF;
$color-pag:     #86E2F7;
$color-footer:  #05153D;

$font-main: 'OpenSans', 'Arial', sans-serif;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;