$color-main:      #002A4C;
$color-lightest:  #F5FAFC;
$color-lighter:   #D7F2F9;
$color-light:     #79B8DB;
$color-dark:      #5F5159;
$color-button:    #5FCEFF;
$color-pag:       #86E2F7;
$color-footer:    #05153D;
$color-webcenter: #e96259;
$color-gray:      #606060;

$font-main: 'OpenSans', 'Arial', sans-serif;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$top-height: 45px;

$side-xs: 15px;
$side-sm: 30px;
$side-lg: 100px;
@mixin header-sides($selector) {

	@if $selector == margin-left {
		margin-left: $side-xs;

		@media (min-width: $screen-sm) {
			margin-left: $side-sm;
		}

		@media (min-width: $screen-lg) {
			margin-left: $side-lg;
		}
	}

	@if $selector == margin-right {
		margin-right: $side-xs;

		@media (min-width: $screen-sm) {
			margin-right: $side-sm;
		}

		@media (min-width: $screen-lg) {
			margin-right: $side-lg;
		}
	}

	@if $selector == right {
		right: $side-xs;

		@media (min-width: $screen-sm) {
			right: $side-sm;
		}

		@media (min-width: $screen-lg) {
			right: $side-lg;
		}
	}
}

@mixin bgi-retina($file, $type: 'png', $width: 100%, $height: $width) {
	background-image: url($file + '.' + $type);

	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min-resolution: 144dpi) {
		background-image: url($file + '@2x.' + $type);

		@if $width == cover {
			$height: null;
		}

		background-size: $width $height;
	}
}

%clear {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}