$color-main:      #002A4C;
$color-lightest:  #F5FAFC;
$color-lighter:   #D7F2F9;
$color-light:     #79B8DB;
$color-dark:      #5F5159;
$color-button:    #5FCEFF;
$color-pag:       #86E2F7;
$color-footer:    #05153D;
$color-webcenter: #e96259;
$color-gray:      #606060;
$color-menu:      #374556;
$color-select:    #B2E2ED;

$c-main-light: #F9DCBC;
$c-main:       #D39D5D;
$c-second:     #B6DFEF;
$c-light:      #F0F0F0;
$c-light-2:    #E2E2E2;
$c-light-3:    #bfbfbf;
$c-dark:       #4F4F4F;
$c-darkest:    black;

$font-main: 'OpenSans', 'Arial', sans-serif;
$font-second: 'Garamond', sans-serif;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$side-xs: 15px;
$side-sm: 30px;
$side-lg: 100px;

@mixin bgi-retina($file, $type: 'png', $width: 100%, $height: $width) {
	background-image: url($file + '.' + $type);

	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min-resolution: 144dpi) {
		background-image: url($file + '@2x.' + $type);

		@if $width == cover or $width == contain {
			$height: null;
		}

		background-size: $width $height;
	}
}

%clear {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}