.accord {

	&__panel {
		box-shadow: none;
		margin: 0;
		border: none;
		border-radius: 0;
		border-top: 1px solid $color-lighter;

		&:last-child {
			border-bottom: 1px solid $color-lighter;
		}
	}

	&__head {
		position: relative;
		transition: .2s ease all;

		&:hover {
			background-color: $color-lightest;
		}

		&_active {
			background-color: $color-lighter;

			&:hover {
				background-color: $color-lighter;
			}

			.accord__arrow {
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}

	&__title {
		font-size: 2.2rem;
		font-weight: 600;
		text-transform: uppercase;
		color: $color-main;
		text-decoration: none;
		display: block;
		padding: .8em 40px .8em 15px;
		
		&:hover,
		&:focus {
			color: $color-main;
		}
	}

	&__arrow {
		pointer-events: none;
		color: $color-light;
		font-size: 2.5rem;
		position: absolute;
		right: 15px;
		top: 50%;
		transition: .2s ease;
		transform: translateY(-50%);
	}

	&__body {
		border-top: 1px solid $color-lighter;
		padding: 15px;
		color: $color-main;
		text-align: justify;
		max-height: 300px;
		position: relative;
	}

	// Стилизация ползунка
	.ps-scrollbar-y-rail {
		background-color: transparent !important;

		&:hover {

			.ps-scrollbar-y {
				width: 8px !important;
				background-color: $color-light !important;
			}
		}
	}

	.ps-scrollbar-y {
		width: 5px !important;
		background-color: darken($color-lighter, 5%) !important;

		&:hover,
		&:active {
			width: 8px !important;
			background-color: $color-light !important;
		}
	}
	// ===================
}