.aside {
	position: fixed;
	top: 0;
	z-index: 60;
	bottom: 0;

	&__wrap {
		position: absolute;
		overflow: hidden;
		min-width: 100%;
		min-height: 100%;
		margin: 0;
		padding: 0;

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		a {
			display: block;
			outline: none;
			overflow: hidden;
			line-height: 1em;
			padding: .6em;
			text-decoration: none;
		}

		.floatRight {
			float: right;
		}

		.iconSpacing_ltr {
			padding: 0 .4em 0 0;
		}
	}

	&__i {
		position: absolute;
		overflow: hidden;
		top: 0;
		width: auto;
		min-height: 100%;
		zoom: 1;

		&_inactive > h2 {

			i {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				text-align: right;
				padding: 20px .4em 0 .4em;
			}

			.aside__toggle {
				width: 100%;
				height: 100%;
				padding-top: 0;
			}
		}

		&_ltr {
			margin-left: -100%;
			left: 0;
		}
	}

	&__toggle {
		position: absolute;
		right: 0;
		top: 0;
		text-align: right;
		padding-right: .4em;
		line-height: 44px;
		font-size: 24px;
		width: $top-height - 1;
		height: $top-height - 1;
		cursor: pointer;
	}

	h2 {
		line-height: $top-height - 31;
		font-weight: bold;
		padding: 0 .4em 0 .4em;
		text-transform: uppercase;
		cursor: default;
	}

	h2,
	a {
		font-size: 2.6rem;
	}

	&__back {
		display: block;
	}




	//********************//
	//   Цветовая схема   //

	// Фон
	&__i {
		transition: background .3s ease;
		background-color: lighten($color-light, 5%);

		// Фон неактивной панели
		&_inactive {
			background: darken($color-light, 15%);
		}

		// Тень подменю
		&_ltr {
			box-shadow: 5px 0 5px -5px $color-main;
		}
	}

	// Гамбургер
	&__toggle {
		color: lighten($color-main, 10%);
	}

	// Заголовок
	h2 {
		color: lighten($color-main, 10%);
	}


	// Пункты меню
	a {
		border-top: 1px solid darken($color-light, 15%);
		color: lighten($color-main, 10%);

		&:hover,
		&:focus {
			background: darken($color-light, 15%);
		}
	}

	li:last-child > a {
		border-bottom: 1px solid darken($color-light, 15%);
	}

	// Кнопка "Назад"
	&__back {
		background: darken($color-light, 7%);
	}
}