.owl {
	position: relative;

	&__item {
		background: no-repeat 50% 50%;
		background-size: cover;
		padding-bottom: 100%;
		position: relative;

		@media (min-width: $screen-xs) {
			padding-bottom: 60%;
		}

		@media (min-width: $screen-md) {
			padding-bottom: 40%;
		}

		&_img-1 {
			background-image: url('../img/slide-1.jpg');
		}

		&_img-2 {
			background-image: url('../img/slide-3.jpg');
		}
	}

	&__buy-btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%);
		font-size: 3rem;

		@media (min-width: $screen-sm) {
			font-size: 4rem;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	&__dots {
		position: absolute;
		left: 50%;
		bottom: 4%;
		transform: translateX(-50%);
	}

	&__dot {
		width: 12px;
		height: 12px;
		border-radius: 50%;
		margin-right: 20px;
		background-color: $c-main-light;
		display: inline-block;
		cursor: pointer;
		transition: .3s ease;
		vertical-align: middle;

		&:last-child {
			margin-right: 0;
		}
		
		&.active {
			width: 20px;
			height: 20px;
		}
	}
}