.owl {
	position: relative;

	&__item {
		background: no-repeat 50% 0;
		background-size: cover;
		padding-bottom: 100%;
		position: relative;

		@media (min-width: $screen-xs) {
			padding-bottom: 60%;
		}

		@media (min-width: $screen-md) {
			padding-bottom: 40%;
		}

		&_img-1 {
			background-image: url('../img/slide-1.jpg');
		}
	}

	&__buy-btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%);
		font-size: 3rem;

		@media (min-width: $screen-sm) {
			font-size: 4rem;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	&__dots {
		position: absolute;
		left: 50%;
		bottom: 4%;
		transform: translateX(-50%);
	}

	&__dot {
		width: 20px;
		height: 20px;
		margin-right: 20px;
		background-color: white;
		display: inline-block;
		cursor: pointer;
		transition: .3s ease;

		&:last-child {
			margin-right: 0;
		}
		
		&.active {
			background-color: $color-light;
		}
	}

	.owl-prev,
	.owl-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-repeat: no-repeat;
		background-size: contain;
		opacity: .6;
		transition: .3s ease;
		overflow: hidden;
		max-width: 117px;
		max-height: 160px;
		height: 40%;
		width: 12%;

		@media (min-width: $screen-sm) {
			height: 20%;
			width: 6%;
		}

		&:hover,
		&:focus {
			opacity: 1;
		}
	}

	.owl-prev {
		left: 0;
		@include bgi-retina('../img/left', 'jpg');
	}

	.owl-next {
		right: 0;
		@include bgi-retina('../img/right', 'jpg');
	}
}